# Grav Specific
.sass-cache
composer.lock

.idea
vendor/
cache/*
!cache/.gitkeep
images/*
!images/.gitkeep
tmp/*
!tmp/.gitkeep
assets/*
!assets/.gitkeep
backup/*
!backup/.gitkeep
logs/*
!logs/.gitkeep

user/data/tntsearch/

# OS Generated
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp
