header {

  @extend %section-default;

  flex-wrap: nowrap;
  justify-content: space-between;

  //logo
  img {
    width: 100%;
    max-width: 10em;
    
    margin: 0 auto;
    padding: .5em;
  }

  > h1 {
  }

  > aside {
    padding: 0;
  }
}
