nav {

  @extend %section-default;

  flex-wrap: wrap;
  align-items: stretch;
  align-content: space-around;
  justify-content: center;

  // background-color: $color-neutral-lighter;
  padding: 0 1em;
  text-align: center;

  // font-size: 1.3em;

  @include media-bp(3) {
    flex-direction: column;
    justify-content: start;
    padding: 1em 0;
  
    // align-self: flex-start;
  }

  a {
    margin: 0 .25em;

    letter-spacing: .25em;
    padding-left: .25em;
    text-transform: uppercase;

    font-size: .9em;

  }
  a[href^="http"] {
    background-color: $color-key;
    color: $color-background;
    &:hover {
      background-color: $color-1;
      color: $color-key;
    }
  }

  &.breadcrumbs {
    width: auto;
  }


}
