nav {

  @extend %section-default;

  flex-wrap: wrap;

  align-content: space-around;
  justify-content: center;

  a {
    margin: 0 .25em;
    padding-left: .25em;

    font-size: .9em;
    letter-spacing: .25em;
    text-transform: uppercase;
  }

  &.breadcrumbs {
    width: auto;
  }

  @include media-bp(3) {

    padding: 1em 0;

    flex-direction: column;
    justify-content: center;

    a {
      text-align: center;
    }
  }

}
