$opacity: 1;

.showcase {

  @extend %section-default;

  flex-direction: column;

  justify-content: flex-start;
  align-content: center;

  // TODO: move article to separate file or mixin
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  > article {
    grid-row: 1 / -1;
    grid-column: 1 / -1;

    // width: 100%;
    height: 100vh;

    padding: 0;
    margin-bottom: 0;
    text-align: center;

    font-size: 1.2em;

    opacity: 0;

    cursor: pointer;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr min-content min-content;
    grid-gap: 0;

    > figure {
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      max-height: 100vh;
      > figcaption {
        display: none;
      }
    }

    > header {
      grid-column: -2 / -1;
      grid-row: -3 / -2;

      padding: 1em;

      z-index: 1;
      background: rgba($color-background, $opacity)  ;
    }

    > main {
      grid-column: -2 / -1;
      grid-row: -2 / -1;

      align-self: flex-end;

      padding: 1em;
      // padding-top: 0;

      margin-right: 2em;

      > header {
        text-align: left;
      }
      > div {
        text-align: left;
        // color: $color-foreground;
        margin-bottom: 0;
      }
    }
    > main {

      // padding: 1em;

      z-index: 1;
      background: rgba($color-background, $opacity)  ;
      margin-bottom: 2em;

      > div {
        font-size: 1em;
        font-weight: 400;
      }
    }

    > footer {
      display: none;
    }
    &:hover {
      color: $color-foreground;
      // background: $color-1;
      .more {
        // color: $color-1;
        // background: $color-key;
      }
      a:hover {
        // color: $color-1;
        // background: $color-key;

      }
    }

  }
  // height: calc(100vh - 3em);


  > article {
    // padding: 1em;

  }
}
