// produced on fontello

@font-face {
      font-family: 'photon-social';
      src: url('../fonts/photon-social.eot?20845125');
      src: url('../fonts/photon-social.eot?20845125#iefix') format('embedded-opentype'),
           url('../fonts/photon-social.woff?20845125') format('woff'),
           url('../fonts/photon-social.ttf?20845125') format('truetype'),
           url('../fonts/photon-social.svg?20845125#photon-social') format('svg');
      font-weight: normal;
      font-style: normal;
    }
$font-photon-social: 'photon-social', sans-serif;
