// COLOR
// COLOR
$color-key-hue: 244;
$color-1-hue: 44;
$color-2-hue: 0;

$saturation: 20;

@import '../../photon/scss/_color/_default';
@import '../../photon/scss/_color/_social';


:root {

  --color-fg: #{$color-neutral-darker};
  --color-bg: #{$color-neutral-lighter};
  --color-key: #{$color-key};

  --color: var(--color-fg);
  --bg: var(--color-bg);

}
