
// FONTS
@import '../../photon/scss/_fonts/_Crimson-Text';
@import '../../photon/scss/_fonts/_Lato';
@import '../../photon/scss/_fonts/_photon-social';

:root {
  --font: #{$font-Lato};
  --font-display: #{$font-Crimson-Text};
  --font-form: var(--font);
  --font-social: #{$font-photon-social};

  --bullett: '✴';

}
