/* photon ✴ Theme Components and Templates */

@import 'articles/article';
@import 'articles/article-excerpt';
@import 'articles/article-showcase';

/* color *****************************/
// @import 'color';

/* fonts *****************************/
// @import 'fonts';



body {
  // --bg: #FFF;
  background: #000;

  > header,
  > footer {
     // flex-direction: row;
     --bg: none;
     color: white;

  }

  > .asides {
    --bg: none;
    color: white;
  }


}

