/* photon ✴ Theme Components and Templates */
@import '../../photon/scss/_media/var-18em';
@import '../../photon/scss/_media/functions';
@import '../../photon/scss/_media/mixins';

/* color *****************************/
@import 'color';

/* fonts *****************************/
@import 'fonts';

// this generates the color pallete
$color-foreground: $color-neutral-darker;
$color-background: $color-neutral-lighter;


:root {
  --color-fg: #{$color-foreground};
  --color-bg: #{$color-background};
  --color-key: #{$color-key};

  --header-height: 4em;

}


body {
  --bg: #EEE;

  @include media-bp(3) {
    display: flex;

    > header {
      flex-direction: row;
      height: var(--header-height);

      > .logo {
        img {
          height:8em;
        }
      }
      > nav {

        // padding: 1em 0;

        flex-flow: row wrap;
        justify-content: center;

        a {
          flex-flow: row;

          text-align: center;
        }

      }
    }
  }

}

body.home {

  @include media-bp(3) {
    display: flex;

    > header {
      flex-direction: row;

      > .logo {
        img {
          height:8em;
        }
      }
      > nav {

        // padding: 1em 0;

        flex-flow: row wrap;
        justify-content: center;

        a {
          flex-flow: row;
          text-align: center;
        }

      }
    }

    > .showcase {
      height: calc(100vh - var(--header-height) - (var(--fitz-2) * 3));

    }

  }

}
