@import url("https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,700,");
/* components/article *****************************/
article {
  width: 100%;
  padding: 1em;
  color: #333;
  background-color: #FFF;
  font-size: 1.1em;
  display: grid;
  grid-template-areas: ' figure ' ' header ' ' main ' ' footer ';
  grid-template-columns: 1fr;
  grid-gap: 1em; }
  article > figure {
    grid-area: figure;
    width: 100%;
    height: 100%;
    max-height: 60vh;
    overflow: hidden;
    text-align: center; }
    article > figure > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center; }
    article > figure > figcaption {
      text-align: center; }
  article > header {
    grid-area: header;
    width: 100%; }
    article > header > h1 {
      width: 100%; }
  article > main {
    grid-area: main;
    display: block;
    text-align: left;
    widows: 2;
    orphans: 2; }
    article > main > div {
      width: 100%;
      margin-bottom: 1em;
      font-style: italic;
      column-span: all;
      font-size: 1.2em;
      text-align: center; }
    article > main p {
      margin-bottom: 1em;
      widows: 2;
      orphans: 2; }
      article > main p:last-child {
        margin-bottom: 0; }
  article > footer {
    grid-area: footer;
    padding: 0;
    align-self: flex-end;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-size: .8em; }
    article > footer > aside {
      min-width: 10em;
      padding: 1em; }
      article > footer > aside ul, article > footer > aside li {
        margin: 0; }
        article > footer > aside ul h3, article > footer > aside li h3 {
          font-size: 1em; }
    article > footer > nav {
      align-content: flex-end; }
    article > footer a {
      margin: 0 .25em;
      letter-spacing: .25em;
      padding-left: .25em;
      text-transform: uppercase;
      font-size: .9em; }
  article > .article-gallery {
    width: 100%;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
    grid-auto-flow: column; }
    article > .article-gallery a {
      display: block; }
      article > .article-gallery a > figure {
        width: 100%;
        height: 100%;
        overflow: hidden;
        text-align: center; }
        article > .article-gallery a > figure > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center; }
        article > .article-gallery a > figure > figcaption {
          text-align: center; }
  article > nav {
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 1em; }
    article > nav > a {
      width: 100%; }
      article > nav > a.nav-newer {
        text-align: left; }
        article > nav > a.nav-newer:before {
          content: "<";
          font-size: 2em;
          font-weight: 700;
          display: block;
          padding-right: .5em;
          float: left;
          height: 100%; }
      article > nav > a.nav-older {
        text-align: right; }
        article > nav > a.nav-older:before {
          content: ">";
          font-size: 2em;
          font-weight: 700;
          display: block;
          padding-left: .5em;
          float: right;
          height: 100%; }
  article.excerpt:hover {
    background-color: #d3de94; }
    article.excerpt:hover .more {
      color: #d3de94;
      background-color: #570961; }
    article.excerpt:hover a:hover {
      color: #d3de94;
      background-color: #570961; }

/* components/aside *****************************/
aside {
  padding: 1em;
  text-align: left;
  display: flex;
  flex-flow: column nowrap;
  justify-content: left;
  align-content: flex-start; }
  aside h1 {
    font-variant: small-caps; }
  aside ul {
    margin: 0 1em; }
    aside ul > li {
      margin: .4em;
      width: 100%; }
      aside ul > li > span {
        font-size: .75em;
        font-weight: bold;
        padding: .25em;
        margin-left: .5em;
        background-color: #d3de94;
        border-radius: 20% 20%; }
  aside p {
    padding-bottom: .2em; }
  aside.org {
    font-size: .8em;
    text-align: center; }

/* components/search *****************************/
aside.search > section {
  flex-flow: column nowrap; }

.search-result-title {
  font-weight: 700; }

.search-result {
  font-weight: 300; }

.search-keyword {
  color: #267345;
  font-weight: 700;
  font-style: normal; }
