/* your styles go here */

/*.carousel-fullscreen .carousel-inner .item {
  background-size: 90%;
}

.carousel-fullscreen .carousel-caption {

    top: 50px;
    bottom: auto;
    right: 10%;
    left: 10%;
    margin-left: auto;
    margin-right: auto;

}

.super-heading {
  padding-top: 50px;
  color: white;
}

.carousel-caption p {
  color: black;
  text-shadow: none;
}
.carousel-caption h1 {
  margin-bottom: 5px;
}

*/


.bar.bg-cover {

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    background-size: cover;

}

.carousel-fullscreen .carousel-inner .item {
  background-size: 90%;
}

.carousel-fullscreen .carousel-inner .item {
    height: 400px !important;


}


/* carousel fullscreen - vertically centered caption*/

.carousel-fullscreen .carousel-caption {
    top: 20% !important;
    bottom: auto;
    right: 10%;
    left: 10%;
    margin-left: auto;
    margin-right: auto;

}

.super-heading {
  padding-top: 50px;
  color: white;
}

.carousel-caption p {
  color: black;
  text-shadow: none;
}
.carousel-caption h1 {
  margin-bottom: 5px;
}
