@charset "UTF-8";
/* photon ✴ Theme Components and Templates */
/* Bree Serif - 400 */
@import url("https://fonts.googleapis.com/css?family=Bree+Serif");
/* Lato */
@import url("https://fonts.googleapis.com/css?family=Lato:100,400,400i,700,900");
@font-face {
  font-family: 'photon-social';
  src: url("../fonts/photon-social.eot?20845125");
  src: url("../fonts/photon-social.eot?20845125#iefix") format("embedded-opentype"), url("../fonts/photon-social.woff?20845125") format("woff"), url("../fonts/photon-social.ttf?20845125") format("truetype"), url("../fonts/photon-social.svg?20845125#photon-social") format("svg");
  font-weight: normal;
  font-style: normal; }
:root {
  --color-fg: #36463d;
  --color-bg: white; }

/* articles/article *****************************/
:root {
  --article-color: var(--color-fg);
  --article-bg: white;
  --article-hover-color: white;
  --article-hover-bg: var(--color-fg); }

article {
  width: 100%;
  padding: 1em;
  color: var(--article-color);
  background: var(--article-bg);
  font-size: 1.1em;
  display: grid;
  grid-template-areas: ' figure ' ' header ' ' main ' ' footer ';
  grid-template-columns: 1fr;
  grid-gap: 1em; }
  article > figure {
    grid-area: figure;
    width: 100%;
    height: 100%;
    max-height: 10em;
    overflow: hidden;
    text-align: center; }
    article > figure > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center; }
    article > figure > figcaption {
      text-align: center; }
  article > header {
    grid-area: header;
    width: 100%;
    display: flex;
    flex-flow: column; }
    article > header > nav {
      position: relative;
      flex-flow: row wrap;
      justify-content: flex-start;
      padding: 0; }
      article > header > nav a {
        position: relative;
        margin: 0;
        margin-left: -.25em; }
        article > header > nav a::after {
          content: ">";
          padding: 0 .5em; }
    article > header > time {
      font-size: .6em;
      padding-top: .5em; }
  article > main {
    grid-area: main;
    display: block;
    text-align: left;
    widows: 2;
    orphans: 2; }
    article > main > div {
      width: 100%;
      margin-bottom: 1em;
      column-span: all; }
    article > main p, article > main ol, article > main ul, article > main h1, article > main h2 {
      margin-bottom: 1em;
      widows: 2;
      orphans: 2; }
      article > main p:last-child, article > main ol:last-child, article > main ul:last-child, article > main h1:last-child, article > main h2:last-child {
        margin-bottom: 0; }
  article > footer {
    grid-area: footer;
    padding: 0;
    align-self: flex-end;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    font-size: .8em; }
    article > footer > aside {
      min-width: 10em;
      padding: 1em; }
      article > footer > aside ul, article > footer > aside li {
        margin: 0; }
        article > footer > aside ul h3, article > footer > aside li h3 {
          font-size: 1em; }
    article > footer > nav {
      align-content: flex-end;
      flex-flow: row; }
    article > footer a {
      margin: 0 .25em;
      letter-spacing: .25em;
      padding-left: .25em;
      text-transform: uppercase;
      font-size: .9em; }
  article > .article-gallery {
    width: 100%;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
    grid-auto-flow: row; }
    article > .article-gallery a {
      display: block; }
      article > .article-gallery a > figure {
        width: 100%;
        height: 100%;
        overflow: hidden;
        text-align: center; }
        article > .article-gallery a > figure > img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center; }
        article > .article-gallery a > figure > figcaption {
          text-align: center; }
  article nav.sibling {
    position: relative;
    padding: 1em;
    display: grid;
    grid-template-areas: ' prev next ';
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em; }
    article nav.sibling > a {
      width: 100%; }
      article nav.sibling > a.prev {
        grid-area: prev;
        align-self: flex-start;
        text-align: left; }
        article nav.sibling > a.prev:before {
          content: "<";
          height: 100%;
          float: left;
          padding-right: .5em; }
      article nav.sibling > a.next {
        grid-area: next;
        align-self: flex-end;
        text-align: right; }
        article nav.sibling > a.next:before {
          content: ">";
          height: 100%;
          float: right;
          padding-left: .5em; }
  article.excerpt {
    cursor: pointer; }
    article.excerpt:hover {
      color: var(--article-hover-color);
      background: var(--article-hover-bg); }
      article.excerpt:hover .more {
        color: var(--color-1);
        background: var(--color-key); }
      article.excerpt:hover a:hover {
        color: var(--color-1);
        background: var(--color-key); }
    article.excerpt .more {
      align-self: flex-end; }
  @media (min-width: 90em) {
    article {
      grid-template-areas: ' figure figure ' ' header footer' ' main   footer';
      grid-template-columns: 1fr 18em; }
      article > footer {
        flex-flow: column;
        align-self: flex-start; } }

/* asides/aside *****************************/
aside {
  padding: 1em;
  text-align: left;
  display: flex;
  flex-flow: column nowrap;
  justify-content: left;
  align-content: flex-start; }
  aside h1 {
    font-variant: small-caps; }
  aside ul {
    margin: 0 1em; }
    aside ul > li {
      margin: .4em;
      width: 100%; }
      aside ul > li > span {
        font-size: .75em;
        font-weight: bold;
        padding: 0.25em;
        margin-left: .5em;
        background: #59a678;
        border-radius: 20% 20%; }
  aside p {
    padding-bottom: .2em; }
  aside.org {
    font-size: .7em;
    text-align: center;
    padding: 0 .5em; }
  aside.article-share {
    padding: 0; }
    aside.article-share h1 {
      display: none; }
    aside.article-share ul {
      font-family: "photon-social", sans-serif;
      list-style: none;
      display: flex;
      flex-flow: row nowrap;
      align-content: space-between; }
      aside.article-share ul a {
        text-transform: inherit;
        padding: .7em;
        font-size: 1.1em; }

/* asides/search *****************************/
aside.search > section {
  flex-flow: column nowrap; }

.search-result-title {
  font-weight: 700; }

.search-result {
  font-weight: 300; }

.search-keyword {
  font-weight: 700;
  font-style: normal; }

/* sections/_default *****************************/
section, .asides, .featured, footer, header, main, nav, .showcase, .welcome {
  display: flex;
  width: 100%; }

/* sections/asides *****************************/
.asides {
  padding: .5em;
  flex-wrap: wrap;
  align-items: stretch; }
  @media (min-width: 72em) {
    .asides {
      flex-direction: column; } }

/* sections/featured *****************************/
.featured {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(25em, 1fr)); }
  .featured > h1 {
    grid-column: 1 / -1;
    letter-spacing: .25em;
    padding-left: .25em;
    padding-top: 1em;
    text-align: center;
    text-transform: uppercase; }
  .featured > article {
    text-align: center;
    cursor: pointer;
    grid-template-rows: min-content min-content auto; }
    .featured > article > figure {
      height: 18em; }
    .featured > article > header {
      text-align: center; }
    .featured > article > main {
      align-content: flex-start;
      text-align: center; }
      .featured > article > main .more {
        margin: 0 auto;
        text-align: center;
        display: block; }
    .featured > article > footer {
      flex-flow: row nowrap; }
      .featured > article > footer > aside {
        padding: 0; }
        .featured > article > footer > aside > h1 {
          display: none; }
        .featured > article > footer > aside ul, .featured > article > footer > aside li {
          display: inline; }
      .featured > article > footer > nav {
        text-align: right;
        padding: 0;
        align-self: flex-end;
        justify-content: right; }

/* sections/footer *****************************/
footer {
  padding: 1em;
  flex-direction: column; }

/* sections/header *****************************/
header {
  flex-wrap: nowrap;
  justify-content: space-between; }
  header img {
    width: 100%;
    max-width: 10em;
    margin: 0 auto;
    padding: .5em; }
  header > aside {
    padding: 0; }

/* on/main *****************************/
main {
  flex-flow: column nowrap; }

/* sections/nav *****************************/
nav {
  position: relative;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center; }
  nav a {
    margin: 0 .25em;
    padding-left: .25em;
    font-size: .9em;
    letter-spacing: .25em;
    text-transform: uppercase; }
  nav.breadcrumbs {
    width: auto; }
  @media (min-width: 72em) {
    nav {
      padding: 1em 0;
      flex-direction: column;
      justify-content: center; }
      nav a {
        text-align: center; } }

/* sections/showcase *****************************/
.showcase {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr; }
  .showcase > article {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    height: 100vh;
    padding: 0;
    margin-bottom: 0;
    opacity: 0;
    text-align: center;
    font-size: 1.2em;
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr min-content min-content;
    grid-gap: 0; }
    .showcase > article > figure {
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      max-height: 100vh; }
      .showcase > article > figure > figcaption {
        display: none; }
    .showcase > article > header {
      grid-column: -2 / -1;
      grid-row: -3 / -2;
      padding: 1em;
      z-index: 1;
      background: white; }
    .showcase > article > main {
      grid-column: -2 / -1;
      grid-row: -2 / -1;
      align-self: flex-end;
      z-index: 1;
      padding: 1em;
      margin-right: 2em;
      margin-bottom: 2em;
      background: white; }
      .showcase > article > main > header {
        text-align: left; }
      .showcase > article > main > div {
        margin-bottom: 0;
        font-size: 1em;
        font-weight: 400;
        text-align: left; }
    .showcase > article > footer {
      display: none; }

/* sections/welcome *****************************/
/* the welcome panel */
.welcome {
  padding: 2em;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr; }
  .welcome > h1 {
    grid-column: 1 / -1;
    padding-left: .25em;
    padding-top: 1em;
    letter-spacing: .25em;
    text-align: center;
    text-transform: uppercase; }
  .welcome > article {
    cursor: pointer;
    text-align: left;
    font-size: 1.5em;
    grid-template-areas: ' figure header' ' figure main ' ' figure footer ';
    grid-template-columns: 1fr 1fr; }
    .welcome > article > header, .welcome > article > main, .welcome > article > main > div {
      text-align: left; }
    .welcome > article > figure {
      height: 18em; }
    .welcome > article > footer {
      flex-flow: row nowrap; }
      .welcome > article > footer > aside {
        padding: 0; }
        .welcome > article > footer > aside > h1 {
          display: none; }
        .welcome > article > footer > aside > ul > li {
          display: inline; }
      .welcome > article > footer > nav {
        text-align: right;
        padding: 0;
        align-self: flex-end;
        justify-content: right; }
    .welcome > article:nth-child(even) {
      grid-template-areas: ' header figure' ' main   figure ' ' footer figure '; }
      .welcome > article:nth-child(even) > header, .welcome > article:nth-child(even) > main, .welcome > article:nth-child(even) > main > div {
        text-align: right; }

/* templates/_default *****************************/
:root {
  --body-bg: #6e8e7c;
  --body-header-bg: white;
  --body-form-bg: white; }

body {
  width: 100%;
  background: var(--body-bg);
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr  21em  1fr;
  grid-template-areas: ' header   header  header ' ' .   main    . ' ' .   asides  . ' ' .   footer  . ';
  justify-content: start; }
  body > header, body > footer, body > main, body > .asides, body.home > .showcase, body.home > .welcome, body.home > .featured, body.home > .categories {
    --section: true; }
  body > header {
    grid-area: header;
    padding: 1em;
    font-size: 1.3em;
    background: var(--body-header-bg);
    align-items: center;
    justify-content: space-around; }
    body > header > h1 {
      text-align: center;
      font-size: .9em; }
    body > header > h2 {
      display: none; }
    body > header > nav div {
      display: none; }
  body > footer {
    grid-area: footer; }
  body > main {
    grid-area: main;
    padding-top: 1em;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: 1fr;
    align-content: start; }
    body > main section.form {
      width: 100%;
      padding: 1em;
      background: var(--body-form-bg);
      flex-flow: column; }
      body > main section.form form {
        width: 100%; }
  body > .asides {
    grid-area: asides; }
  @media (min-width: 36em) {
    body {
      grid-template-columns: 1fr 32em   1fr; } }
  @media (min-width: 54em) {
    body {
      grid-template-columns: 1fr 50em   1fr; } }
  @media (min-width: 72em) {
    body {
      grid-template-columns: 1fr 16em   52em   1fr;
      grid-template-rows: min-content min-content 1fr;
      grid-template-areas: ".   header main ." ".   asides main ." ".   footer main ."; }
      body > header {
        align-self: flex-start;
        flex-direction: column; }
        body > header > nav div {
          display: block; } }
  @media (min-width: 90em) {
    body {
      grid-template-columns: 1fr 16em   70em   1fr; } }

/* templates/home *****************************/
body.home {
  grid-template-areas: ' header   header  header ' ' showcase  showcase  showcase ' ' .   welcome  . ' ' .   featured  . ' ' .   categories  . ' ' .   main    . ' ' .   asides  . ' ' .   footer  . ';
  align-content: center;
  justify-content: center;
  grid-auto-rows: auto; }
  body.home > header {
    z-index: 10; }
  body.home > .showcase {
    grid-row: 1 / 3;
    grid-column: 1 / -1;
    grid-column: 2 / -1;
    width: 100%;
    height: 100vh; }
  body.home > .welcome {
    grid-area: welcome; }
  body.home > .featured {
    grid-area: featured; }
  body.home > .categories {
    grid-area: categories; }
  body.home > main {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1em; }
    body.home > main > header {
      padding: 1em 0;
      font-size: 1.5em; }
    body.home > main > article {
      text-align: left;
      cursor: pointer; }
      body.home > main > article > figure {
        margin-right: 1em; }
      body.home > main > article > header, body.home > main > article > main, body.home > main > article > main > div {
        text-align: left; }
      body.home > main > article > footer {
        align-items: flex-end;
        align-content: center;
        flex-flow: row wrap; }
        body.home > main > article > footer > aside {
          padding: 0; }
          body.home > main > article > footer > aside > h1 {
            display: none; }
        body.home > main > article > footer > nav {
          padding: 0;
          justify-content: flex-end; }
      @media (min-width: 54em) {
        body.home > main > article {
          grid-template-areas: ' figure header' ' figure main ' ' figure footer ';
          grid-template-columns: 10em 1fr;
          grid-template-rows: auto 1fr auto; } }
  @media (min-width: 72em) {
    body.home {
      grid-template-rows: 100vh auto;
      grid-template-areas: "header  header   showcase showcase" ".  welcome welcome ." ".  featured featured ." ".  categories categories ." ".  asides   main   ." ".  footer   main   ."; }
      body.home > .showcase {
        grid-row: 1 / 2;
        grid-column: 1 / -1; }
      body.home > header {
        flex-direction: column;
        justify-content: flex-start;
        height: 100%; } }

/* templates/article *****************************/
/* templates/archive *****************************/
body.collection {
  grid-template-rows: auto auto 1fr; }
  body.collection > main {
    grid-template-columns: 1fr; }
    body.collection > main > header {
      grid-column: 1 / -1;
      padding: 1rem;
      font-size: 1.3em;
      flex-flow: column nowrap; }
      body.collection > main > header > h1 {
        display: none; }
      body.collection > main > header > h2 {
        padding-left: .25em;
        padding-top: .5em;
        letter-spacing: .25em;
        text-transform: uppercase; }
        body.collection > main > header > h2::before, body.collection > main > header > h2::after {
          content: '•';
          padding: 0 .25em; }
      body.collection > main > header > figure {
        grid-column: 1 / -1;
        width: 100%;
        height: 100%;
        max-height: 10em;
        overflow: hidden;
        text-align: center; }
        body.collection > main > header > figure > img {
          width: 100%;
          height: 100%;
          max-width: 100%;
          object-fit: cover; }
      body.collection > main > header blockquote {
        margin: .5em; }
    body.collection > main article {
      grid-column: 1 / -1; }
    body.collection > main article.excerpt {
      cursor: pointer;
      grid-column: 1 / -1; }
      body.collection > main article.excerpt > figure {
        margin-right: 1em; }
      body.collection > main article.excerpt > header, body.collection > main article.excerpt > main, body.collection > main article.excerpt > main > div {
        text-align: left; }
      body.collection > main article.excerpt > footer {
        align-items: flex-end;
        align-content: center;
        flex-flow: row wrap; }
        body.collection > main article.excerpt > footer > aside {
          padding: 0; }
          body.collection > main article.excerpt > footer > aside > h1 {
            display: none; }
        body.collection > main article.excerpt > footer > nav {
          padding: 0;
          justify-content: flex-end; }
      @media (min-width: 54em) {
        body.collection > main article.excerpt {
          grid-template-areas: ' figure header' ' figure main ' ' figure footer ';
          grid-template-columns: 10em 1fr;
          grid-template-rows: auto 1fr auto; } }
      body.collection > main article.excerpt > figure > img {
        height: 100%;
        object-fit: cover;
        object-position: center; }

/* Print *****************************/
@page {
  size: 8.5in 11in;
  margin: .75in; }
@media print {
  html {
    font-size: 12pt;
    width: 8.5in;
    display: block; }

  body {
    width: 8.5in;
    grid-template-columns: 1fr;
    display: block; }
    body > header {
      width: 100%;
      flex-direction: row;
      align-content: center; }
      body > header > h1 {
        font-size: 1.1em; }
      body > header > nav {
        display: none; }
      body > header img {
        width: 5em; }
    body > footer,
    body > .asides {
      display: none; }
    body article > footer > .article-share {
      display: none; }
    body article > footer > nav.sibling {
      display: none; }
    body article > nav {
      display: none; } }

/*# sourceMappingURL=photon.css.map */
