@import url("https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,700,");
/* section/_default *****************************/
section, .asides, .featured, footer, header, main, nav, .showcase, .welcome {
  display: flex;
  width: 100%; }

/* sections/asides *****************************/
.asides {
  padding: .5em;
  flex-wrap: wrap;
  align-items: stretch; }
  @media (min-width: 72em) {
    .asides {
      flex-direction: column; } }

/* sections/featured *****************************/
.featured {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fit, minmax(25em, 1fr)); }
  .featured > h1 {
    grid-column: 1 / -1;
    letter-spacing: .25em;
    padding-left: .25em;
    padding-top: 1em;
    text-align: center;
    text-transform: uppercase; }
  .featured > article {
    text-align: center;
    cursor: pointer;
    grid-template-rows: min-content min-content auto; }
    .featured > article > figure {
      height: 18em; }
    .featured > article > header {
      text-align: center; }
    .featured > article > main {
      align-content: flex-start;
      text-align: center; }
      .featured > article > main .more {
        margin: 0 auto;
        text-align: center;
        display: block; }
    .featured > article > footer {
      flex-flow: row nowrap; }
      .featured > article > footer > aside {
        padding: 0; }
        .featured > article > footer > aside > h1 {
          display: none; }
        .featured > article > footer > aside ul, .featured > article > footer > aside li {
          display: inline; }
      .featured > article > footer > nav {
        text-align: right;
        padding: 0;
        align-self: flex-end;
        justify-content: right; }

/* sections/footer *****************************/
footer {
  flex-direction: column;
  padding: 1em; }

/* sections/header *****************************/
header {
  flex-wrap: nowrap;
  text-align: center; }
  header img {
    width: 100%;
    max-width: 10em;
    margin: 0 auto;
    padding: .5em; }
  header > h1 {
    width: 100%;
    margin: 0 auto; }
  header > aside {
    padding: 0; }

/* on/main *****************************/
main {
  flex-flow: column nowrap; }

/* sections/nav *****************************/
nav {
  flex-wrap: wrap;
  align-items: stretch;
  align-content: space-around;
  justify-content: center;
  padding: 1em 0;
  text-align: center; }
  @media (min-width: 72em) {
    nav {
      flex-direction: column;
      justify-content: start; } }
  nav a {
    margin: 0 .25em;
    letter-spacing: .25em;
    padding-left: .25em;
    text-transform: uppercase;
    font-size: .9em; }
  nav a[href^="http"] {
    background-color: #570961;
    color: #CCC; }
    nav a[href^="http"]:hover {
      background-color: #d3de94;
      color: #570961; }

/* sections/showcase *****************************/
.showcase {
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr; }
  .showcase > article {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    height: 100vh;
    padding: 0;
    margin-bottom: 0;
    text-align: center;
    font-size: 1.2em;
    opacity: 0;
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr min-content min-content; }
    .showcase > article > figure {
      grid-column: 1 / -1;
      grid-row: 1 / -1;
      max-height: 100vh; }
      .showcase > article > figure > figcaption {
        display: none; }
    .showcase > article > header {
      grid-column: -2 / -1;
      grid-row: -3 / -2;
      padding-bottom: 0;
      z-index: 1;
      background-color: rgba(204, 204, 204, 0.8); }
    .showcase > article > main {
      grid-column: -2 / -1;
      grid-row: -2 / -1;
      align-self: flex-end;
      padding: 1em;
      margin-right: 2em; }
      .showcase > article > main > header {
        text-align: left; }
      .showcase > article > main > div {
        text-align: left;
        margin-bottom: 0; }
    .showcase > article > main {
      z-index: 1;
      background-color: rgba(204, 204, 204, 0.8);
      margin-bottom: 2em; }
      .showcase > article > main > div {
        font-size: 1em;
        font-weight: 400; }
    .showcase > article > footer {
      display: none; }

/* sections/welcome *****************************/
.welcome {
  padding: 2em;
  display: grid;
  grid-gap: 1em;
  grid-template-columns: 1fr; }
  .welcome > h1 {
    grid-column: 1 / -1;
    letter-spacing: .25em;
    padding-left: .25em;
    padding-top: 1em;
    text-align: center;
    text-transform: uppercase; }
  .welcome > article {
    cursor: pointer;
    text-align: left;
    font-size: 1.5em;
    grid-template-areas: ' figure header' ' figure main ' ' figure footer ';
    grid-template-columns: 1fr 1fr; }
    .welcome > article > header, .welcome > article > main, .welcome > article > main > div {
      text-align: left; }
    .welcome > article > figure {
      height: 18em; }
    .welcome > article > footer {
      flex-flow: row nowrap; }
      .welcome > article > footer > aside {
        padding: 0; }
        .welcome > article > footer > aside > h1 {
          display: none; }
        .welcome > article > footer > aside > ul > li {
          display: inline; }
      .welcome > article > footer > nav {
        text-align: right;
        padding: 0;
        align-self: flex-end;
        justify-content: right; }
    .welcome > article:nth-child(even) {
      grid-template-areas: ' header figure' ' main   figure ' ' footer figure '; }
      .welcome > article:nth-child(even) > header, .welcome > article:nth-child(even) > main, .welcome > article:nth-child(even) > main > div {
        text-align: right; }
