// default style for an article
// start with a single column grid
// top children have named grid areas

// :root {
//   --article-color: var(--color-fg);
//   --article-bg: var(--color-bg);
//
//   --article-hover-color: var(--color-fg);
//   --article-hover-bg: $color-key-lighter;
// }

article {

  // width: 100%;
  // padding: var(--fitz);
  //
  // color: var(--article-color);
  // background: var(--article-bg);

  // font-size: 1.1em;

  // display: flex;
  // flex-flow: column;
  // align-content: flex-start;
  // justify-content: flex-start;

  > * {

  }

  > figure {

    background: none;
    max-height: 40vh;

    > img {
      // object-fit: contain;
    }

    > figcaption {
    }

    &:empty {
      display: none;

    }
  }

  > header {

    > h1 {

    }

    > nav {

    }

    > time {
      display: none;
    }
  }

  > .content {

    width: 100%;
    max-width: 36em;
    margin: 0 auto;


    > .summary {
      > * {
        margin-bottom: var(--fitz);
      }
      > ul {
        list-style: none;
        text-align: center;
        margin: 0;
        padding: 0;
        li {
          margin: 0;
          padding: 0;
          &::after {
            display: block;
            content: "•";
          }
          &:last-child::after {
            display: none;
            content: "";
          }
        }

      }

    }

     h1, h2, h3, h4 {
        text-align: center;
    }
  }

  > footer {


    > aside {
      h1 {
        // display: none;
      }
      ul, li {
        margin: 0;
        h3 {
        }
      }
    }

    > nav {
    }

    a {

    }

  }

  > .data {

    h1, table {
    }
    h1 {
    }
    th, td {
    }
    th {
    }
    td {
    }

  }
  > .article-gallery {

    > figure {

      a {

          > img {

          }

          > figcaption {

          }
        }
      }
  }

  .sibling {

    > a {

      &.prev {


        &:before {
        }
      }

      &.next {

        &:after {
        }
      }
    }
  }

  .breadcrumbs {
    a {

    }
  }

  &.excerpt,
  &.showcase {


    .article-share {
    }

    &:hover {
      // color: inherit;
      // background: inherit;

      .more {
      }

      a:hover {
      }
    }

    .more {
    }

  }


}
