// default style for an article
// start with a single column grid
// top children have named grid areas
:root {
  --article-color: var(--color-fg);
  --article-bg: var(--color-bg);

  --article-hover-color: var(--color-fg);
  --article-hover-bg: $color-key-lighter;
}

article {

  // width: 100%;
  padding: var(--fitz);

  color: var(--article-color);
  background: var(--article-bg);

  // font-size: 1.1em;

  display: flex;
  flex-flow: column;
  align-content: flex-start;
  justify-content: flex-start;

  > * {
    margin: var(--fitz);
    padding: var(--fitz);

  }
  > figure {
    grid-area: figure;
    padding: var(--fitz-2);
    // width: 100%;
    height: 100%;

    background: var(--article-bg);

    overflow: hidden;
    text-align: center;



    > img {
      width: 100%;
      height: 100%;

      object-fit: contain;
      object-position: center;

    }

    > figcaption {
      text-align: center;
    }
  }

  > header {
    grid-area: header;
    // width: 100%;


    display: flex;
    flex-flow: column;
    align-items: flex-start;

    > h1 {
      // width: 100%;
      text-align: left;

    }
    > nav {
      // position: relative;
      flex-flow: row wrap;
      justify-content: flex-start;
      padding: 0;

      text-align: left;

      a {

        padding: 0;

        &::after {
          content: ">";
          padding: 0 .25em;
        }
      }

    }
    > time {
      display:none;
      
      font-size: .6em;
      padding-top: .5em;

    }
  }

  > main {
    grid-area: main;
    // padding: 1em;
    display: block;

    // column-width: var(--col);

    text-align: left;

    widows: 2;
    orphans: 2;

    // excerpt
    > div {

      width: 100%;
      margin-bottom: 1em;

      // font-style: italic;

      column-span: all;

    }

    p, ol, ul, h1, h2 {
      margin-bottom: 1em;

      widows: 2;
      orphans: 2;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  > footer {

    grid-area: footer;
    // width: 100%;

    padding: 0;

    // align-self: flex-end;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    // font-size: .8em;

    > aside {
      // flex-grow: 1;
      min-width: 10em;
      // padding: 1em;
      h1 {
        // display: none;
      }
      ul, li {
        margin: 0;
        h3 {
          font-size: 1em;
        }
      }
    }

    > nav {
      align-content: flex-end;
      flex-flow: row;
    }

    a {
      // margin: 0 .25em;

      letter-spacing: .25em;
      // padding-left: .25em;
      text-transform: uppercase;


    }

  }

  > .data {
    grid-area: data;

    h1, table {
      text-align: center;
      width: 100%;

    }
    h1 {
      text-decoration: underline;
    }
    th, td {
      display: block;
      text-align: center;
      width: 100%;
    }
    th {
      font-size: .7em;
      letter-spacing: .25em;
      padding-left: .25em;
      padding-bottom: 0;
      text-transform: uppercase;
    }
    td {
      padding-top: 0;
    }

  }
  > .article-gallery {
    grid-area: gallery;

    // width: 100%;
    padding:0;

    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, var(--col) );
    grid-auto-flow: row;

    > figure {

      // width: 100%;
      // height: 100%;

      overflow: hidden;
      text-align: center;
      a {
        display: block;

          > img {
            // width: 100%;
            // height: 100%;

            object-fit: cover;
            object-position: center;
          }

          > figcaption {
            text-align: center;
          }
        }
      }
  }

  .sibling {
    grid-area: sibling;

    position: relative;

    font-size: 1em;

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    > a {

      width: 100%;

      display: flex;
      flex-flow: row;

      &.prev {

        justify-content: flex-start;

        &:before {
          content: "<";
          height:100%;

          padding-right: .5em;
        }
      }

      &.next {

        justify-content: flex-end;

        &:after {
          content: ">";
          height:100%;

          padding-left: .5em;
        }
      }
    }
  }

  .breadcrumbs {
    a {
      flex-flow: row;
    }
  }

  &.excerpt,
  &.showcase {
    cursor: pointer;


    .article-share {
      display: none;
    }

    &:hover {
      // color: inherit;
      // background: inherit;
      box-shadow: 5px 5px 10px #888888;

      .more {
        color: var(--color-1);
        background: var(--color-key);
      }

      a:hover {
        color: var(--color-1);
        background: var(--color-key);
      }
    }

    .more {
      align-self: flex-end;
    }

  }

  @include media-bp(2) {

    @supports (display: grid) {

      display: grid;
      grid-template-areas:
        ' figure figure '
        ' header footer'
        ' main footer'
        ' gallery   data';
      grid-template-columns: 1fr var(--col);
      grid-gap: 1em;

      > * {
        // margin: 0;
      }
      > footer {
        flex-flow: column;
        // align-self: flex-start;
      }

    }

  }



}
