// default anchor tag styling

:root{
  --a-color: #{$color-key};
  --a-hover-bg: #{$color-1-light};
  --a-active-color: #{$color-2-dark};
}


a {

  background: none;
  color: var(--a-color);

  text-decoration: none;

  &:link {
    color: var(--a-color);
  }

  &:visited {
    color: var(--a-color);
  }

  &:hover {
    background: var(--a-hover-bg);
  }

  &:active {
    color: var(--a-active-color);
  }

  &.active {

    font-weight: 700;

    &::before, &::after {
      content: '•';
      margin: 0;
      padding: 0 .5em;
    }
  }

}
