:root {
  --code-color: #{$color-background};
  --code-bg: #{$color-foreground};
}


pre,
code,
kbd,
samp {

  font-family: monospace, monospace;
  font-size: 1em;
  line-height: 1.5;

  color: var(--code-color);
  background: var(--code-bg);

  padding: .1em .25em;
  border-radius: 0;

}

code {

  height: auto;

  pre & {
    display: block;
    padding: 1em;
  }

}

pre {

  display: block;
  // white-space: pre;
  // white-space: pre-wrap;
  // word-break: break-all;
  // word-wrap: break-word;
  // margin-bottom: 1em;
}
