// define all defaults within the HTML element

$html-color: $color-foreground;
$html-bg-color: $color-background;

html {

  color: $html-color;
  background: $html-bg-color;

  height: 100%;

  max-width: 100%;

  font-family: $font-root;
  font-weight: 400;
  line-height: 1.35;
  text-align: left;

}
