$table-border-color: $color-neutral-darker;

table {
	max-width: 100%;
}

th,
td {
	padding: .5em;
}

th {
	font-weight: 700;
	font-family: $font-display;
	border-bottom: 2px solid $table-border-color;
}
