@mixin article--default() {

  display: grid;
  grid-template-areas:
    ' figure '
    ' header '
    ' main '
    ' footer ';
  grid-template-columns:  1fr;
  grid-gap: 1em;

  > figure {
    grid-area: figure;

    width: 100%;
    height: 100%;
    max-height: 10em;

    // padding: 0;
    overflow: hidden;
    text-align: center;

    > img {
      width: 100%;
      height: 100%;

      object-fit: cover;
      object-position: center;

    }

    > figcaption {
      text-align: center;
    }
  }

  > header {
    grid-area: header;
    width: 100%;

    // text-align: left;
    display: flex;
    flex-flow: column;

    > h1 {
//       width: 100%;
    }
    > nav {
      flex-flow: row wrap;
      justify-content: flex-start;
      padding: 0;

      a {
        margin: 0;
        margin-left: -.25em;
        &::after {
          content: ">";
          padding: 0 .5em;
        }
      }
    }
    > time {
//       display: block;
//       width: 100%;
//       text-align: right;
      font-size: .6em;
      padding-top: .5em;
    }
  }

  > main {
    grid-area: main;
    // padding: 1em;
    display: block;

    // column-width: 18em;

    text-align: left;

    widows: 2;
    orphans: 2;

    // excerpt
    > div {

      width: 100%;
      margin-bottom: 1em;

      // font-style: italic;

      column-span: all;
//       font-size: 1.2em;

//       text-align: center;

    }

    p, ol, ul, h1, h2 {
      margin-bottom: 1em;

      widows: 2;
      orphans: 2;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  > footer {

    grid-area: footer;

    padding: 0;

    align-self: flex-end;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    font-size: .8em;

    > aside {
      // flex-grow: 1;
      min-width: 10em;
      padding: 1em;
      h1 {
        // display: none;
      }
      ul, li {
        margin: 0;
        h3 {
          font-size: 1em;
        }
      }
    }

    > nav {
      align-content: flex-end;
      flex-flow: row;
    }

    a {
      margin: 0 .25em;

      letter-spacing: .25em;
      padding-left: .25em;
      text-transform: uppercase;

      font-size: .9em;

    }

  }

  > .article-gallery {

    width: 100%;

    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
    grid-auto-flow: row;

    a {
      display: block;
      // flex-grow: 1;
      // flex-basis: 18em;
      // max-width: 100%;
      // margin: 5px;

      > figure {

        // grid-area: figure;

        width: 100%;
        height: 100%;
        // max-height: 60vh;
        // max-width: 18em;

        // padding: 0;
        overflow: hidden;
        text-align: center;

        > img {
          width: 100%;
          height: 100%;

          object-fit: cover;
          object-position: center;

        }

        > figcaption {
          text-align: center;
        }
      }

    }
  }

  nav.sibling {
    // display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 1em;

    > a {
      // flex-grow: 1;
      width:50%;
      &.prev {
        text-align: left;
        align-self: flex-start;

        &:before {
          content: "<";
          // font-size:2em;
          // display: block;
          padding-right: .5em;
          float:left;
          height:100%;
        }
      }
      &.next {
        text-align: right;
        align-self: flex-end;

        &:before {
          content: ">";
          // font-size:2em;
          // display: block;
          padding-left: .5em;
          float:right;
          height:100%;
        }
      }
    }
  }
}
