{% extends 'article.html.twig' %}
{# TODO: determine load order of templates #}
{% block body_template_classes %}{{ parent() }} form{% endblock body_template_classes %}

{% block content %}
    {{ parent() }}
    <section class="form">
      {% include "forms/form.html.twig" %}
    </section>
{% endblock %}
