{% extends 'collection.html.twig' %}
{% block body_template_classes %}{{ parent() }} home{% endblock body_template_classes %}

{% block showcase -%}

  {% set options = { items: {'@taxonomy.tag': 'showcase' }, 'limit': 5, 'order': {'by': 'date', 'dir': 'desc'}, 'pagination': true } -%}
  {% set showcase_collection = page.collection(options) %}
  <section class="showcase">
    {% for p in showcase_collection %}
    {% include "_section/_articles/article-excerpt.html.twig" with { 'page': p } %}
    {% endfor %}
  </section>

{% endblock showcase -%}


{% block list -%}
  <p>child pages: {{ page.collection.count() }}</p>
  {% for p in page.collection -%}
    {% if not (p.url == page.url) -%}
    {% if p.visible -%}
    {% include "_section/_articles/article-excerpt.html.twig" with { 'page': p } %}

    {% endif %}
    {% endif %}
  {% endfor -%}
{% endblock list -%}
