{% extends 'default.html.twig' %}
{% use "default/tiles/summary.html.twig" %}
{% use "default/components/pagination.html.twig" %}
{% use "default/components/sidebar.html.twig" %}


{% block content %}
<!-- collection.html.twig -->
    <div class="row ">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-9 ">
            <div class="container">
                {% block list %}
                  {% for page in page.collection %}
                    {{ block('tile') }}
                  {% endfor %}
                {% endblock list %}
                {{ block('pagination') }}
            </div>
          </div>
          <div class="col-md-3">
              {{ block('sidebar') }}
          </div>
        </div>
      </div>
    </div>

{% endblock content %}