
:root {
  --blockquote-bg: #{$color-neutral-darker};
}

blockquote {

  margin: 1em auto;

  font-size: 1.2em;

  display: block;

  // vertical rule
  &::before {
    content: '';

    height: 100%;
    width: .1em;

    position: absolute;
    left: 0;
    top: 0;

    background: var(--blockquote-bg);

    display: block;

  }

  //nested blockquote
  > blockquote {

    margin: 0;
    padding-bottom: 0;
    font-style: italic;

    &::before {
      content: '• ';
      padding-top: 1em;

      background: inherit;

      display: inline;
    }
  }

  p {

    margin-bottom: 0;
    position: relative;
    overflow: visible;

  }
}
