

:root {
  --code-color: var(--color-bg);
  --code-bg: var(--color-fg);
}

pre,
code,
kbd,
samp {
  padding: .1em .25em;

  color: var(--code-color);
  background: var(--code-bg);

  font-family: monospace, monospace;
  font-size: 1em;
  line-height: 1.5;

  border-radius: 0;
}

code {

  height: auto;

  pre & {
    padding: 1em;

    display: block;
  }

}

pre {

  display: block;
  // white-space: pre;
  // white-space: pre-wrap;
  // word-break: break-all;
  // word-wrap: break-word;
  // margin-bottom: 1em;
}
