
:root {
	--table-border-color: var(--color-fg);
}

table {
	max-width: 100%;
}

th,
td {
	padding: .5em;
}

th {
	font-weight: 700;
	font-family: $font-display;
	border-bottom: 2px solid var(--table-border-color);
}
