{% block article_footer -%}
        <footer>
          {% if not excerpt %}
          {% include '_section/_articles/_block/article_nav.html.twig' -%}
          {% include '_section/asides/list-featured.html.twig' -%}
          {% endif -%}

          {% include '_section/_articles/_block/article_footer/aside_categories.html.twig' -%}
          {% include '_section/_articles/_block/article_footer/aside_tags.html.twig' -%}
          {% include '_section/_articles/_block/article_footer/aside_members.html.twig' -%}
          {% include '_section/_articles/_block/article_footer/aside_share.html.twig' -%}
          {% if excerpt %}
          <nav>
            <a class="more" href="{{ page.url }}">More ></a>
          </nav>
        {% endif -%}
        </footer>
{%- endblock %}
