
      <aside class="org">
        <p>City Hall</p>
        <p>441 Hwy 101 North</p>
        <p>Yachats, OR 97498</p>
        <p>541-547-3565</p>
        <!-- <p><%- config.organization.address.streetAddress %></p> -->
        <!-- <p><%- config.organization.address.addressLocality %>, <%- config.organization.address.addressRegion %> <%- config.organization.address.postalCode %></p> -->
        <!-- <p><%- config.organization.telephone %></p> -->
      </aside>
