<aside class="paypal">
  <h1>Support us with your Donation</h1>
  <form name="_xclick" action="https://www.paypal.com/fk/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_xclick">
    <input type="hidden" name="business" value="wayneplourde@gmail.com">
    <input type="hidden" name="item_name" value="Geometor Donation">
    <input type="hidden" name="currency_code" value="USD">
    <input type="hidden" name="amount" value="">
    <input type="image" src="http://www.paypal.com/en_US/i/btn/x-click-butcc-donate.gif" border="0" name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
  </form>
  <p>type in your own amount</p>
  <p>Thank You!</p>
</aside>
