<aside class="yelp-reservations">
  <h1><%= __('Reservations') %></h1>
  <iframe id="yelp-reservations-widget" frameborder="0" width="250" height="530" src="//www.yelp.com/reservations/ona-restaurant-and-lounge-yachats/widget?orientation=vertical&color-scheme=light" > <a href=https://www.yelp.com/reservations/ona-restaurant-and-lounge-yachats>Reserve at Ona Restaurant & Lounge on Yelp</a> </iframe>
</aside>
