// default body
// defaults for top level blocks top level sections

:root {
  --body-bg: #{$color-background};

  --body-header-bg: var(--color-bg);
  --body-header-height: 5em;

  --body-footer-bg: var(--color-bg);
  --body-asides-bg: var(--color-bg);
  --body-form-bg: var(--color-bg);

  --fitz: .5em;
  --fitz-2: calc(var(--fitz) * 2);

  --col: 18em;
  --col-2: calc( var(--col) * 2 );
  --col-3: calc( var(--col) * 3 );
  --col-4: calc( var(--col) * 4 );
  --col-5: calc( var(--col) * 5 );
  --col-6: calc( var(--col) * 6 );

  --a-color: #{$color-key-dark};
  --a-hover-color: white;
  --a-hover-bg: #{$color-key-dark};

  --font-display: $font-display;
}

body {

  background: var(--body-bg);
  padding: var(--fitz);

  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: flex-start;

  %body-section-default {
    margin: var(--fitz);
  }

  // default sections
  > header {
    @extend %body-section-default;

    height: var(--body-header-height);

    padding: var(--fitz-2);

    background: var(--body-header-bg);

    overflow: hidden;

  }

  > main {
    @extend %body-section-default;

    margin: 0;

    display: flex;
    flex-flow: column;

    > * {
      margin: var(--fitz);
      padding: var(--fitz);

    }

    > header {
    }

    > article {
      // width: 100%;
      // min-width: var(--col-3);

      > figure {
        // max-height: var(--col);
      }

    }

    > .collection {

      width: 100%;

      flex-flow: column;
      padding: 0;
      margin: 0;

      > * {
        margin: var(--fitz);
        padding: var(--fitz-2);
      }

      > h1 {
        padding: 0;
        color: var(--color-bg);
      }
      .excerpt {

        @include article-banner;
      }
    }

    > section.form {

      background: var(--body-form-bg);

      flex-flow: column;

      form {
        width: 100%;
      }
    }
  }

  > .asides {
    @extend %body-section-default;

    background: var(--body-asides-bg);

  }

  > footer {
    @extend %body-section-default;

    background: var(--body-footer-bg);

  }

  @include media-bp(1) {
  }

  @include media-bp(2) {
  }

  @include media-bp(3) {

    display:flex;

    > header {
      flex-direction: row;
      > nav {
        flex-direction: row;
        > a {
          flex-direction: row;
        }
      }
    }
    // @supports (display: grid) {
    //
    //   display: grid;
    //   // grid-gap: 0;
    //   grid-template-areas:
    //     " header main "
    //     " asides main "
    //     " footer footer ";
    //   grid-template-columns: var(--col)   1fr;
    //   grid-template-rows: auto 1fr auto;
    //   // grid-template-rows: min-content min-content 1fr;
    //
    //   > header {
    //     grid-area: header;
    //
    //     height: auto; //remove initial fixed height
    //
    //     flex-direction: column;
    //
    //     > .logo {
    //       img {
    //         height:8em;
    //       }
    //     }
    //     > nav {
    //
    //       padding: 1em 0;
    //
    //       flex-flow: column nowrap;
    //       justify-content: center;
    //
    //       a {
    //         text-align: center;
    //       }
    //     }
    //   }
    //   > main {
    //     grid-area: main;
    //   }
    //   > .asides {
    //     grid-area: asides;
    //
    //   }
    //   > footer {
    //     grid-area: footer;
    //   }
    // }

  }

  @include media-bp(4) {
    > main {
      flex-flow: row;
      > article {
        // width: 50%;
        // max-width: var(--col-4);

      }
      > .collection {
        // width: var(--col-3);
        // width: 50%;
        // flex-grow: 1;
        > .excerpt {
          @include article-banner;
        }
      }
    }
  }

  @include media-bp(5) {
    > main {
      > .collection {
        // width: var(--col-4);
      }
    }
  }

  @include media-bp(6) {
    > main {
      > .collection {
        width: var(--col-6);
        width: 50%;

        > .excerpt {
          @include article-banner;
        }

      }
    }

  }

}
