//default - mobile first

body.home {

  > header {
  }

  > .showcase {
    @extend %body-section-default;

    padding: 0; //each article has padding

    // set to height of the screen - header and margins
    height: calc(100vh - var(--body-header-height) - (var(--fitz-2) * 3));

  }

  > .welcome {
    @extend %body-section-default;
  }

  > .featured {
    @extend %body-section-default;
  }


  > main {


  }

  @include media-bp(1) {
  }

  @include media-bp(2) {
  }

  @include media-bp(3) {
    display: flex;

    // @supports (display: grid) {
    //
    //   display: grid;
    //   grid-template-areas:
    //     "  header   showcase "
    //     "  featured featured "
    //     "  asides   main   "
    //     "  footer   footer   ";
    //   grid-template-rows:  calc(100vh - var(--fitz-2)) ;
    //
    //   > .showcase {
    //     grid-area: showcase;
    //
    //     height: calc(100vh - 2em);
    //   }
    //
    //   > .featured {
    //     grid-area: featured;
    //
    //   }
    //
    // }
  }
  @include media-bp(4) {
    display: flex;

    // @supports (display: grid) {
    //
    //   display: grid;
    //   grid-template-areas:
    //     "  header   showcase featured"
    //     "  welcome welcome welcome"
    //     "  asides   main   main"
    //     "  footer   footer   footer";
    //   grid-template-rows:  calc(100vh - var(--fitz-2)) ;
    //   grid-template-columns: var(--col)   2fr 1fr;
    //
    //   > main {
    //     flex-flow: column;
    //
    //     > .collection {
    //       // width: var(--col-3);
    //       width: 100%;
    //       display: grid;
    //       // grid-gap: 1em;
    //       grid-template-columns: repeat( auto-fit, minmax( 24em, 1fr ) );
    //
    //       > h1 {
    //         grid-column: 1 / -1;
    //       }
    //       // flex-grow: 1;
    //       > .excerpt {
    //         @include article-card;
    //       }
    //     }
    //
    //   }
    //
    //   > .featured {
    //     flex-flow: column;
    //   }
    // }
  }

  @include media-bp(5) {
  }
  @include media-bp(6) {
  }
}
