{% if article.header.members %}
  <aside class="members">
    <h1>Members:</h1>
    {% for member in article.header.members %}
      {% set person = article.find(member.person) %}
      <a href="{{ member.person }}">{{ person.title }}</a>
    {% endfor %}
  </aside>
{% endif %}
