
    <section class="asides" role=”complementary”>

      {% include '_section/asides/list-featured.html.twig' %}

      {% include '_section/asides/list-recent.html.twig' %}

      {% include '_section/asides/list-categories.html.twig' %}

      {% include '_section/asides/list-tags.html.twig' %}

    </section>
