{% if page.taxonomy.tag %}
            <aside class="article-tags">
              <h1>Tags:</h1>
              {% for tag in page.taxonomy.tag %}
                <a href="/search/tag{{ config.system.param_sep }}{{ tag }}">{{ tag }}</a>
              {% endfor %}
            </aside>
{% endif %}
